@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Ubuntu', sans-serif;
}

.transition-100{
    transition: all 150ms ease-in;
}

.myButton{
    @apply font-semibold py-2 px-4 border-accent rounded shadow
    /*@apply bg-gray-500 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow*/
}

.myButton:hover{
    /*@apply bg-gray-300 text-gray-700*/
}

.myButton:focus{
    /*@apply bg-gray-100 text-gray-400*/
}

.myButton:disabled{
    @apply bg-disabled text-disabled-secondary
    /*@apply bg-gray-100 text-gray-300 */
}

.cardButtonBig{
    font-size: 2.5em;
    height: 130px;
    @apply bg-card text-on-card rounded border-2 border-brand transition-100
}

.cardButtonBig:disabled:not(hover){
    background-position: center;
    background-size: cover;
    @apply bg-disabled text-disabled-secondary
    /*@apply bg-brand text-gray-300 border-gray-400 shadow*/
}

.cardButtonBig:hover{
    @apply bg-accent text-on-accent
    /*@apply bg-indigo-500 text-white shadow*/
}

.cardButtonBig:focus{
    /*@apply bg-indigo-600 text-white shadow shadow-lg*/
}

.cardButtonBigSelected{
    @apply bg-accent text-on-accent shadow shadow-2xl 
    /*@apply bg-indigo-500 text-white font-medium py-2 px-4 border border-gray-400 rounded shadow shadow-xl*/
}


.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1900ms infinite;
    animation: ellipsis steps(4,end) 1900ms infinite;
    content: "..."; /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 20px;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}